html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

body {
    background: rgba(221, 216, 217, 0.747);
}

.container {
    display: grid;
    grid-template-columns: 14vw 50px auto 23vw 14vw;
    grid-template-rows: auto;
    grid-template-areas: 
        ". header header header ."
        "nav nav nav nav nav"
        ". main main main ."
        "footer footer footer footer footer";
        
}

.header {
    grid-area: header;
    height: 130px;
    display: flex;
    align-items: center;
}

.header .logo {
    margin: 0;
    float: left;
    
}

/* barra de navegação */
.nav {
    background-color: rgb(48, 68, 73);
    grid-area: nav;
    height: 60px;
    display: grid;
    grid-template-columns: 14vw 50px auto 23vw 14vw;
    grid-template-rows: 60px;
    grid-template-areas: 
        ". menu menu menu .";
}

/* --> Inicio de configureção de MENU DROPDOWN  */
.nav .menu {
    grid-area: menu;
    list-style: none;
    border: 0 solid #c0c0c0;
    margin-top: 0;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    height: 60px;
    text-transform: uppercase;
    /* border-right: 1px solid #c0c0c0; */

    /* padding: 5px 60px; */
    
    
}

.menu li a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    padding: 22px 26px;
    display: block;
    
}

.menu li a:hover {
    background: rgb(155, 122, 122);
    color: rgba(155, 122, 122,0.5);
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    /* top: 60px; */
    /* left: 0px; */
    background-color: #fff;
    display: none;
    
}

.menu li:hover ul, .menu li.over ul {display: block;}

ul.menu li ul li {
    border: 1px solid #a29f9f;
    display: block;
    /* width: 172.6px; */
    /* padding: 5px; */
    margin-left: 0; 
    
}

.menu ul li {
    background: rgb(155, 122, 122);
    width: 200px;
    height: 40px;
}

.menu ul li a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    padding: 0;
    width: 180px;
    display: block;
    margin: auto;
    top: 50%;
    left: 50;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/* <-- Final de configureção de MENU DROPDOWN */

.container2 {
    grid-area: main;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 25vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "main2 sidebar2";
}
.main {
    background-color: rgb(165, 162, 134);
    grid-area: main2;
    height: 72vh;
    float: left;
    margin: 5px;
}

.sidebar {
    background-color: rgb(72, 228, 72);
    grid-area: sidebar2;
    float: right;
    margin: 5px;
}

.footer {
    background-color: #575454;
    grid-area: footer;
}

.footer p {
    text-align: center;
    color: wheat;
    height: auto;
    padding: 10px;
    border-top: 15px solid #000;
}