html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu,nav, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700");

body {
  background: rgba(221, 216, 217, 0.90);
  background-image: url(/assets/img/FacesCom.jpg);

  background-size: 900px 1200px;
  background-attachment: fixed;
  /* background-position-y: 190px; */
  /* background-repeat: repeat-x; */
  background-blend-mode: screen;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "lateralL header header header header lateralR"
    "nav nav nav nav nav nav"
    "social main main main main sidebar"
    "footer footer footer footer footer footer";
}

.header {
  grid-area: header;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  background-color: rgb(241, 235, 236);
  /* background-color: rgb(48, 68, 73); */
}

.lateral1 {
  grid-area: lateralL;
  background-color: rgb(241, 235, 236);
  /* background-color: rgb(48, 68, 73); */
}

.lateral2 {
  grid-area: lateralR;
  background-color: rgb(241, 235, 236);
  /* background-color: rgb(48, 68, 73); */
}

.header .logo {
  margin: 0;
  float: left;
}

.header .logo img {
  height: 60px;
}

        /* ------>  INICIO - BOTÕES SOCIAL PRINCIPAL */
.social {
  grid-area: social;
  width: 100%;
  position: relative;
}

.icons {
  /* position: absolute; */
  /* width: 100%; */
  display: inline;
  min-height: 1px;
  word-wrap: break-word;
  /* width: calc(31.333% - 32px); */
  margin: 108px 47px 0;
  /* float: right; */
  position: sticky;
  top: 60px;
}

.icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: end;
}

.icons p {
  position: relative;
  float: left;
  align-self: center;
}

.btn-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #ffffff75;
  margin: 8px 8px 0;
  border: 2px solid rgba(14, 19, 24, 0.49);
  border-radius: 50%;
  box-shadow: 3px 5px 15px -4px #000000b3;
  color: rgba(14,19,24,.45);
  overflow: hidden;
  /* position: relative; */
  transition: all .3s;
  /* justify-content: center; */
}
          /* ------> FIM - BOTÕES SOCIAL PRINCIPAL */


           /* ------>  INICIO - BOTÕES SOCIAL FOOTER */


.social-footer {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-size: 1rem;
}

.icons-footer ul{
  display: block;
  align-items: center;
}

.icons-footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.icons-footer ul li a{
  display: block;
  position: relative;
  height: 2.5em;
  width: 2.5em;
  color: #fff;
  text-align: center
}

             /* ------> FIM - BOTÕES SOCIAL FOOTER */



/* ------>  INICIO - BOTÕES SOCIAL COMUNS */

.btn-social-footer i,
.btn-social i {
  line-height: 39px;
  font-size: 20px;
  transition: all 0.3s;
}

.btn-social-footer:hover i,
.btn-social:hover i {
  transform: scale(1.4);
  /* transform: rotateY(360deg); */
}

.btn-social:hover {
  background-color: #fff;
  border: 2px solid #fff;
}

.icons-footer > ul:nth-child(1) > li:nth-child(1) > a:hover,
.icons > ul:nth-child(1) > li:nth-child(1) > a:hover{
  color: #3b5999;
}

.icons-footer > ul:nth-child(1) > li:nth-child(2) > a:hover,
.icons > ul:nth-child(1) > li:nth-child(2) > a:hover {
  color: #cd1f1f;
}

.icons-footer > ul:nth-child(1) > li:nth-child(3) > a:hover,
.icons > ul:nth-child(1) > li:nth-child(3) > a:hover {
  color: #e4405e;

}

.icons-footer > ul:nth-child(1) > li:nth-child(4) > a:hover,
.icons > ul:nth-child(1) > li:nth-child(4) > a:hover {
  /* color: #ff0084; */
  color: #ff0084;
}

/* ------> FIM - BOTÕES SOCIAL COMUNS */


/* --------------------->   BARRA DE NAVEGAÇÃO  <--------------------- */
.nav {
  background-color: rgb(48, 68, 73);
  grid-area: nav;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr minmax(313px, 315px);
  grid-template-rows: 60px;
  grid-template-areas: ". menu menu menu menu .";
  position: sticky;
  top: 0;
  z-index: 11;
}

/* ----------------> INICIO DE CONFIGUREÇÃO DE MENU DROPDOWN <-------------- */

.nav .menu {
  grid-area: menu;
  list-style: none;
  /* border: 2px solid #c0c0c0; */
  margin-top: 0;
  float: left;
  display: flex;
  justify-content: space-around;
  background-color: #306fa8;
  /* box-shadow: 0 1px 3px black; */
  /* box-shadow: 2px 2px 2px #000; */
  box-shadow: 0 15px 10px -10px rgb(0, 0, 0), 0 1px 4px rgb(0, 0, 0),
    0 0 40px rgba(0, 0, 0, 0.3) inset;
  z-index: 10;
  border-radius: 12em 12em 79em 79em;
}

.menu li {
  position: relative;
  float: left;
  height: 60px;
  text-transform: uppercase;
  /* border: 1px solid #c0c0c0; */
  text-align: left;
  width: auto;
  padding: 4px;
  /* padding: 5px 60px; */
}

.menu li a {
  color: rgb(255, 255, 255);
  /* background-color: #000; */
  text-decoration: none;
  padding: 20px 0 20px 0;
  display: block;
}

.menu li a:hover {
  /* background: rgb(155, 122, 122); */
  /* box-shadow: 2px 2px 2px #000; */
  /* box-shadow: 0 1px 3px black; */
  color: rgba(255, 255, 255, 0.644);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  /* text-decoration-line: underline; */
  transform: scale(0.9);
  transition: 0.2s linear;
}


.menu li ul {
  position: absolute;
  /* top: 60px; */
  /* left: 0px; */
  background-color: #fff;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

ul.menu li ul li {
  border-bottom: 1px solid #a29f9f;
  display: block;
  /* width: 172.6px; */
  /* padding: 5px; */
  margin-left: 0;
  align-content: center;
}

.menu ul li {
  background: #306fa8f5;
  width: 200px;
  height: 40px;
}

.menu ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 180px;
  display: block;
  padding: 10px 0 0 8px;
}

/* ------------------> FINAL DE CONFIGUREÇÃO DE MENU DROPDOWN <------------------ */


/* ------------------> INICIO DE CONFIGUREÇÃO DE MENU MOBILE <------------------ */

.menumobile {
  display: none;
}

.navmobile {
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  transition: box-shadow .5s ease-in-out;
}

.navmobile:hover {
  box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

#menu-mobile:checked ~ label .navmobile {
  box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
}

.hamburguer {
  display: block;
  background: #000;
  width: 25px;
  height: 2px;
  position: relative;
  top: 21px;
  left: 10px;
  transition: .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer::before {
  top: -9px;
}

.hamburguer::after {
  bottom: -9px;
}

#menu-mobile {
  display: none;
}

#menu-mobile:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

#menu-mobile:checked ~ label .hamburguer::before {
  transform: rotate(90deg);
  top: 0;
}

#menu-mobile:checked ~ label .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0;
}

/* ------------------> FINAL DE CONFIGUREÇÃO DE MENU MOBILE <------------------ */



.FotoGrande {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/assets/img/igreja10x+Grande.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: color;
  object-fit: cover;
  margin-top: 60px;
  background-size: 99vw 580px;
  grid-area: nav;
  height: 600px;
  color: rgb(233, 222, 201);
  display: flex;
  justify-content: center;
}

.FotoGrande h1 {
  position: absolute;
  top: 125px;
  /* left: 30vw; */
  font-size: calc(3em + 1.42vw);
}

.FotoGrande h4 {
  position: absolute;
  top: 614px;
  /* left: 43vw; */
  font-size: calc(2em + 1.3vw);
}

/* .container2 {
    grid-area: main;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "main2 sidebar2";
    max-width: 1024px;
    justify-self: center;
} */

.main {
  grid-area: main;
  /* max-width: 1200px; */
  justify-self: center;
  height: auto;
  padding-top: 50px;
  padding-bottom: 70px;

}

.title {
  font-size: 23px;
  color: #383837d8;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-shadow: 1px 2px #aaa4a4;
}

.article-main {
  /* //background-color: #f5f5f5; */
  /* //grid-area: main2; */
  width: 49%;
  height: auto;
  float: left;
  margin: 2px 0;
  padding: 0 10px 22px 10px;
  transition: .5s;
  position: relative;
}

/* INICIO Utilizando GRID LAYOUT */
/* .article-main:nth-child(2){
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
}

.article-main:nth-child(3){
  grid-column: 3 / 4;
  grid-row: 2 / span 3;
}

.article-main:nth-child(4){
  grid-column: 4 / 5;
  grid-row: 2 / span 3;
}

.article-main:nth-child(5){
  grid-column: 1 / 2;
  grid-row: 5 / span 2;
}

.article-main:nth-child(6){
  grid-column: 2 / 3;
  grid-row: 5 / span 2;
}

.article-main:nth-child(7){
  grid-column: 3 / span  2;
  grid-row: 4 / span 3;
}

.article-main:nth-child(8){
  grid-column: 3 /  2;
}

.article-main:nth-child(3) img, .article-main:nth-child(4) img {
  height: 285px;
}

.article-main:nth-child(5) img, .article-main:nth-child(6) img {
  height: 285px;
} */
/* Fim Utilizando GRID LAYOUT */

/* INICIO SEM GRADY LAYOUT */
.article-main:nth-child(3), .article-main:nth-child(4) {
  width: 24%;
}

.article-main:nth-child(5), .article-main:nth-child(6) {
  width: 24%;
}

.article-main:nth-child(3) img, .article-main:nth-child(4) img {
    height: 250px;
  }
  
  .article-main:nth-child(5) img, .article-main:nth-child(6) img {
height: 250px;
  }

  .article-main:nth-child(7) img{
    margin-top: -130px;
}
.article-main:nth-child(8) img{
    height: 280px;
}
/* FIM SEM GRADY LAYOUT */

.main img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  box-shadow: 4px 4px 3px 1px #787474;
  transition: .3s;
}

.caption {
  text-align: center;
  background: #0006;
  color: #fff;
  position: absolute;
  width: 96.4%;
  bottom: 14px;
  height: 50px;
}

.article-main:nth-child(even):hover {
  transform: scale(1.1) rotate(4deg);
}

.article-main:nth-child(odd):hover {
  transform: scale(1.1) rotate(-4deg);
}

.aside {
  grid-area: sidebar;
  display: flex;
  justify-self: flex-end;
  margin: 116px 10px 10px;
  max-height: 708px;
  background-color: rgb(72, 228, 72);
  /* background-color: floralwhite; */
  box-shadow: 0 1px 3px black;
  width: 65%;
  /* grid-area: sidebar2; */
  /* float: right; */
  /* max-width: 242px; */
  /* min-width: 240px; */
}

.footer {
  grid-area: footer;
  display: grid;
  background-color: #293039;
  border-top: 15px solid #212a36;
  grid: minmax(225px, 225px) / repeat(6,1fr);
  grid-template-areas: 
  ". siteMap siteMap siteMap address ."
  "botton botton botton botton botton botton";
  color: #fff;
}

.siteMap {
  grid-area: siteMap;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.siteMap ul {
  list-style: none;
  line-height: 1.4em;
}

.siteMap a {
  color: #fff;
  text-decoration: underline;
}

.siteMap a:hover {
  color: rgba(255, 255, 255, 0.644);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  /* text-decoration-line: underline; */
  transform: scale(0.8);
  transition: 0.2s linear;
}

.footer .logo {
  margin-top: -16px;
}

.copySocial {
  grid-area: botton;
  background-color: #21262e;
}

.footer .copy {
  text-align: center;
  color: wheat;
  height: auto;
  padding: 10px;
}

.endereco {
  grid-column: address;
  width: 283px;
  font-size: 12px;
  color: #f1f1f1;
  line-height: 1.8;
  justify-self: end;
  align-self: center;
}

section p {
  text-align: left;
  margin: 10px 15px 15px;
}

h1 {
  font-size: 70px;
  line-height: 90px;
}

h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
}

h3,
h4 {
  font-size: 14px;
}

h3 {
  margin: 15px 0;
}

h4 {
  margin: 10px 10px 5px;
  font-style: italic;
}

h5 {
  margin: 5px 10px 20px;
  font-size: 12px;
  line-height: 14px;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  .header {
    grid-area: nav;
    z-index: 12;
    background-color: rgb(48, 68, 73);
    height: 60px;
    position: sticky;
    top: 0;
  }

  .header .logo img {
    margin-left: 5px;
    height: 55px;

  }

  .menumobile {
    display: initial;
  }

  .aside {
    display: none;
    grid-area: footer;
    position: absolute;
    top: -10000px;
    width: 0px;
    height: 0px;
  }
  .nav {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    height: 55px;
  }

  .nav .menu, .social,
  .lateral1, .lateral2,
  .fb-page, .fb_iframe_widget {
    display: none;
  }

  #fb-root{
    display: none;
  }

  .article-main {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0 10px 20px 10px;
  }

  .main img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    box-shadow: 4px 4px 3px 1px #787474;
  
  }

  .article-main:nth-child(3), .article-main:nth-child(4),
  .article-main:nth-child(5), .article-main:nth-child(6)  {
    width: 100%;
  }
  
  .article-main:nth-child(3) img, .article-main:nth-child(4) img,
  .article-main:nth-child(5) img, .article-main:nth-child(6) img,
  .article-main:nth-child(8) img {
    height: 300px;
  }
  
  .article-main:nth-child(7) img{
      margin-top: 0px;
  }

  .footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "address"
      "siteMap"
      "botton";
  }

  .endereco {
  justify-self: center;
  }

  .siteMap {
    display: initial;
    margin-left: 10vw;
    margin-right: 10vw;
    border-top: solid 1px #ffca37b3;
  }

}