html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');


body {
    background: rgba(221, 216, 217, 0.75);
    background-image: url(/assets/img/FacesCom.jpg);

    background-size: 900px 1200px;
    background-attachment: fixed;
    /* background-position-y: 190px; */
    /* background-repeat: repeat-x; */
    background-blend-mode: screen;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 14vw 50px auto 23vw 14vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "lateral1 header header header lateral2"
        "nav nav nav nav nav"
        ". main main main ."
        "footer footer footer footer footer";

}

.header {
    grid-area: header;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: rgb(241, 235, 236);
}

.lateral1 {
    grid-area: lateral1;
    background-color: rgb(241, 235, 236);
}

.lateral2 {
    grid-area: lateral2;
    background-color: rgb(241, 235, 236);
}

.header .logo {
    margin: 0;
    float: left;
    
}

/* barra de navegação */
.nav {
    background-color: rgb(48, 68, 73);
    grid-area: nav;
    height: 60px;
    display: grid;
    grid-template-columns: 14vw 50px auto 23vw 14vw;
    grid-template-rows: 60px;
    grid-template-areas: 
        ". menu menu menu .";
    position: sticky;
    top: 0;

}

                            /* --> Inicio de configureção de MENU DROPDOWN  */

.nav .menu {
    grid-area: menu;
    list-style: none;
    /* border: 2px solid #c0c0c0; */
    margin-top: 0;
    float: left;
    display: flex;
    justify-content: space-around;
    background-color: #306fa8;
    /* box-shadow: 0 1px 3px black; */
    box-shadow: 2px 2px 2px #000;
    z-index: 10;
    /* border-radius: 3em 0.5em 0.5em 3em; */

}



.menu li {
    position: relative;
    float: left;
    height: 60px;
    text-transform: uppercase;
    /* border: 1px solid #c0c0c0; */
    text-align: left;
    width: auto;
    padding: 4px;
    /* padding: 5px 60px; */
}

/* .menu li:nth-child(1){
    background-color: #91cbed;
} */

.menu li a {
    color: rgb(255, 255, 255); 
    /* background-color: #000; */
    text-decoration: none; 
    padding: 20px 0 20px 0;
    display: block;
    
}

.menu li a:hover {
    /* background: rgb(155, 122, 122); */
    /* box-shadow: 2px 2px 2px #000; */
    /* box-shadow: 0 1px 3px black; */
    color: rgba(255, 255, 255, 0.644);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    /* text-decoration-line: underline; */
    font-size: 0.96em;
    transition: 150ms;
}

.menu li ul {
    position: absolute;
    /* top: 60px; */
    /* left: 0px; */
    background-color: #fff;
    display: none;
    
}

.menu li:hover ul, .menu li.over ul {
    display: block; 
}

ul.menu li ul li {
    border-bottom: 1px solid #a29f9f;
    display: block;
    /* width: 172.6px; */
    /* padding: 5px; */
    margin-left: 0; 
    align-content: center;
 
}

.menu ul li {
    background: #306fa8f5;
    width: 200px;
    height: 40px;

}

.menu ul li a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
    width: 180px;
    display: block;
    padding: 10px 0 0 8px;
    /* margin: auto; */
    /* top: 50%; */
    /* left: 50; */
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%); */
}

                        /* <-- Final de configureção de MENU DROPDOWN */

.container2 {
    grid-area: main;
    /* background-color: #f5f5f5; */
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: auto;
    grid-template-areas: 
        "main2 sidebar2";
    max-width: 1024px;
    justify-self: center;
}

section {
    grid-area: main2;
    height: auto;
    float: left;
}

article  {
    background-color: #f5f5f5;
    /* grid-area: main2; */
    height: auto;
    float: left;
    margin: 5px;
}

aside {
    background-color: rgb(72, 228, 72);
    grid-area: sidebar2;
    /* float: right; */
    margin: 5px;
}

.footer {
    background-color: #575454;
    grid-area: footer;
}

.footer p {
    text-align: center;
    color: wheat;
    height: auto;
    padding: 10px;
    border-top: 15px solid #000;
}

p {
	text-align: justify;
	margin: 0 0 15px;
}

h1,
h2 {
	font-family: 'Oleo Script', cursive;
}

h1 {
	font-size: 70px;
	line-height: 90px;
}

h2 {
	font-size: 24px;
	text-align: left;
	margin-bottom: 10px;
}

h3,
h4 {
	font-size: 14px;
}

h3 {
	margin: 15px 0;
}

h4 {
	margin: 10px 10px 5px;
	font-style: italic;
}

h5 {
	margin: 5px 10px 20px;
	font-size: 12px;
	line-height: 14px;
}