body {
  background: rgba(221, 216, 217, 0.4);
  background-image: url(/assets/img/FacesCom.jpg);
  background-size: 900px 1200px;
  background-attachment: fixed;
  /* background-position-y: 190px; */
  /* background-repeat: repeat-x; */
  background-blend-mode: screen;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.cremos {
  text-align: left;
  line-height: 26px;
  margin-left: 12px;
  margin-right: 6px;
}

.cremos h2 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #655e5e;
  font-weight: 500;
  margin-left: 5px;
}

.cremos p {
  /* font-size: 16px;
  color: #565656;
  margin: 0;
  // margin: 10px 15px 15px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 28px; */


  margin: 10px 10px 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 200%;
  color: #777777;
  margin-bottom: 25px;
}